label{
    font-size: 18px;
    color: lightblue;
    font-family: sans-serif;
}

form{
    margin: 5 5 5 5;
    
}
.mtxt{
    font-size: 16px;
    font-family: sans-serif;
    margin: 5 0;
    border: 1px solid lightblue;
    border-radius: 5px;
}
.mButton{
    font-size: 16px;
    font-family: sans-serif;
    background: lightblue;
    border: white;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin: 5 0;
}
.mButton:hover{
    background: transparent;
    color: lightblue;
    font-size: 10px;
}

a{
    font-size: 14px;
    font-family: sans-serif;
    color: lightblue;
}
a:hover{
    font-size: 16px;
    color: blue;
}

a:visited{
    color: purple;
}