body{
    margin: 0px;
}

.tableCell{
    border:1px solid lightgrey;
    height: 30px;
    font-size: 14px;
    padding: 5 5 5 5;
}
.userInfo{
    color: aliceblue;
    float:right;
    height: 25px;
    font-size: 14px;
    display: inline;

}
.tableHeader{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: lightblue;
}

h1{
    text-align: center;
    color:lightblue;
}

#header{
    background-color:lightblue;
}
.row{
    width: 100%;
    height: 30px;
}
.content{
    margin: 5 5 5 5;
}

